*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties, update these for your own design*/

:root {
  /*--ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;*/
  --ff-primary: "Lora", serif;
  --ff-secondary: "Roboto Slab", serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  /*--clr-accent: #f8333c;*/

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*General styles*/

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0px;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  /*outline: 3px solid var(--clr-accent);*/
  outline: none;
  outline-offset: 3px;
}

/*Typography*/
h1,
h2,
h3 {
  line-height: 1;
  margin: 0px;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h2 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0, 0.5, 0, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  text-decoration: none;
}

.nav__link:focus {
  outline: 3px solid var(--clr-accent);
}

.nav__link:hover {
  color: var(--clr-accent);
  text-decoration: none;
}

.nav-toggle {
  padding: 0.5em;
  background-color: transparent;
  /*background: white;*/
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  /*background: red;*/
  transform: translateX(0%);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  /*background: var(--clr-accent);*/
  background: whitesmoke;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms easy-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.logo {
  max-width: 200px;
  margin-top: 2px;
}

.logo {
  max-width: 200px;
  margin-top: 2px;
}
